<?php include 'config.php'; ?>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <title>
    <?php
      if (isset($title)) {
        echo $title;
      }
    ?>
    </title>

    <!-- Bootstrap -->
    <link href="template/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Project 1: Simple Website with Access Control</h1>
      <!-- You can use php code to show some of the buttons --> 
      <a href="login.php" class="btn btn-primary" role="button">Login</a>
      <a href="user.php" class="btn btn-primary" role="button">User</a>
      <a href="account.php" class="btn btn-primary" role="button">Account</a>
      <a href="admin.php" class="btn btn-primary" role="button">Admin</a>
      <a href="logout.php" class="btn btn-primary" role="button">Logout</a>
      <br><br>
