<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <title>
    <?php
      // Example of getting data from php.
      if (isset($config['title'])) {
        echo $config['title'];
      }
    ?>
    </title>

    <!-- Bootstrap -->
    <link href="bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1> Project 1: Simple Website with Access Control </h1>
<!-- You can use php code to show some of the buttons --> 
    <a href="login.php"><button>Login</button></a>
    <a href="user.php"><button>User</button></a>
    <a href="account.php"><button>Account</button></a>
    <a href="admin.php"><button>Admin</button></a>
    <a href="logout.php"><button>Logout</button></a>
    <br>
    <div id='main-div'>
